.main-chat
  .main-chat__main-header
    .main-header
    = link_to "edit", class: "main-header__edit-btn" do
      Edit
    -# - current_user.groups.each do |group|
    .main-header__left-box
      = link_to group_messages_path(@group) do
        .left-box__current-group
          = @group.name
        .left-box__member-list
          - @group.users.each do |user|
            =user.name

    .messages
      = render @messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            メッセージ
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'